<div class="toggle">
    <ul>
        <span class="nav-item">
            <a class="nav-spannk" href="/">Acceuil</a>
        </span>
            
        <span class="nav-item">           
        <div class="btn-group dropend">
            <button type="button" class="btn dropdown-toggle nav-spannk" data-bs-toggle="dropdown" aria-expanded="false">
                Nos Services
            </button>
            
                <div class="btn-group">
                    <ul class="dropdown-menu">
                        <span><a class="dropdown-item" href="/relations-presse-et-pubspanques">Relations Presse et Pubspanques</a></span>
                        <span><a class="dropdown-item" href="/production-audiovisuelle">Production Audiovisuelle</a></span>
                        <span><a class="dropdown-item" href="/marketing-digital">Marketing Digital</a></span>
                        <span><a class="dropdown-item" href="/événementiel">ÉVÉNEMENTIEL</a></span>
                        <span><a class="dropdown-item" href="/développement-web">Développement Web</a></span>
                        <span><a class="dropdown-item" href="/design-graphique">Design Graphique</a></span>
                    </ul>
                </div>               
            
        </div>
        </span>
            
        <span class="nav-item">
            <a class="nav-spannk" href="/nos-clients">Nos Clients</a>
        </span>
            
        <span class="nav-item">
            <a class="nav-spannk" href="/blog-style-2">Blog</a>
        </span>
            
        <span class="nav-item">
            <a class="nav-spannk" href="/contact">Contact</a>
        </span>
    </ul>
</div>