
<app-header-style></app-header-style>
<div style="background-color: rgb(17, 16, 16);">
        <div class="page-title-area  jarallax" data-jarallax='{"speed": 0.3}'>
            <div class="container">
                <!-- <div class="page-title-content">
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="courses-2-columns-style-1.html">ÉVÉNEMENTIEL</a></li>

                    </ul>

                </div> -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xoPT1eayq6E?autoplay=1&controls=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <h2>AGENCE ÉVÉNEMENTIELLE TUNISIE</h2>
                
                <p><strong>IBComProd</strong> spécialiste dans la création d’événements qui reflètent le goût de chaque client..</p>
            </div>
        </div>
        <div style="overflow-x: hidden;">
        <div id="container" class="galeryBtn">
            <button class="learn-more" routerLink="/galerie">
            <span class="circle" aria-hidden="true">
                <span class="icon arrow"></span>
            </span>
            <span class="button-text"> voir Galerie</span>
            </button>
        </div>

        <section class="courses-details-area pt-100 pb-70">
            <div class="container">
                <div class="courses-details-header">
                    <div class="row align-items-center">
                        <div class="col-lg-8">
                            <div class="has-animation animation-ltr" data-delay="10">
                                <!-- <div class="courses-title">
                                    <h2>ÉVÉNEMENTIEL</h2>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <div class="courses-details-image text-center">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/_ia0h-hXum4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="courses-sidebar-information">
                            <ul>
                                <li>
                                    <span><img id="icon" src="../../../../assets/img/icons/upgrade.png" alt="upgrade icon"> &nbsp;Renforcer votre image de marque</span>

                                </li>
                                <li>
                                    <span><img id="icon" src="../../../../assets/img/icons/skill.png" alt="value icon">&nbsp;Valoriser les spécificités de votre marque
                                    </span>

                                </li>
                                <li>
                                    <span><img id="icon" src="../../../../assets/img/icons/stars.png" alt="celebrity icon">&nbsp;Accroître la notoriété</span>

                                </li>

                            </ul>
                        </div>
                    </div>
                
                    <!-- <div class="courses-details-images1">
                        <img src="../../../../assets/img/real/soutenance.jpg" class="Img">
                        <br>
                        <img src="../../../../assets/img/real/essec.jpg" class="Img">
                        <br>
                        <img src="../../../../assets/img/real/event.jpg" class="Img">
                    </div>  -->
                </div>
            </div>
        </section>      
            
        <div class="courses-details-desc1">
                    <h3>À PROPOS DE NOUS</h3>

                    <p> <strong>Agence événementielle Tunisie</strong> spécialiste dans <strong>la création d’événements</strong> qui reflètent le goût de chaque client. <br>
                        Que vous lanciez un nouveau produit, accueilliez vos invités avec des animations impressionnantes ou planifiez vos Événements d’entreprises, Foires commerciales, Conférences, Consolidation d’équipes, nous évaluerons vos besoins et <strong>créerons l’événement selon vos objectifs sur mesure</strong>.</p>

                    <p><strong>IBComProd</strong>, est une source d’idées originales et artistiques vous garantissant une prestation au-delà de vos attentes. <br> Notre agence combine entre expertise et créativité pour <strong>concevoir des événements</strong> plus que réussis. <br>
                        Pour un <strong>séminaire</strong> ou tout <strong>autre événement</strong> qui sont autant d’occasions de se réunir avec vos collaborateurs, partenaires ou clients, et d’en faire de vrais <strong>outils de communication</strong> .</p>
        </div>

        <div class="courses-details-desc2">
                    <h3>CHEZ IBCOMPROD</h3>
                    <p><strong>IBComProd</strong> met à votre service ses compétences et son savoir-faire pour apporter des solutions innovantes dans l’<strong>organisation de vos évents</strong>. <br>
                        Elle vous accompagne de la réflexion jusqu’à l’exécution. 
                    </p>
                                
                    <p>Notre équipe analyse vos besoins et envies afin de mettre en place toutes les composantes nécessaires à <strong>la réussite de votre évènement</strong> tout en respectant votre cahier des charges ! <br> Notre agence vous offre, l’expérience, <strong>les idées novatrices et créatives</strong> afin de faire vivre à votre cible une expérience exceptionnelle!</p>
                    <p>Faites confiance à notre savoir-faire afin de <strong>bien faire passer votre message</strong>, <strong>favoriser votre image de marque</strong>, <strong>attirer un large public</strong> et <strong>inciter vos invités à interagir</strong>.</p>
                    <p>Notre équipe met à votre service son expérience et ses idées novatrices afin de faire vivre à votre public une expérience exceptionnelle et impactante. <br>
                        Faites confiance à notre savoir-faire pour faire passer votre message, remodeler votre image de marque, ou tout simplement éblouir vos invités.</p>
                    <p>Nous vous proposons une large gamme d’<strong>événements professionnels</strong> et une multitude de services à savoir :</p>
        </div>

        <div class="why-you-learn">
                    <ul>
                            <span>
                                <i class='bx bx-check'></i>
                                Meeting et Séminaires
                            </span>
                            <br>
                            <span>
                                <i class='bx bx-check'></i>
                                Lancement de produit
                            </span>
                            <br>
                            <span>
                                <i class='bx bx-check'></i>
                                Soirées
                            </span>
                            <br>
                            <span>
                                <i class='bx bx-check'></i>
                                Foires et salons
                            </span>
                            <br>
                            <span>
                                <i class='bx bx-check'></i>
                                Team Building
                            </span>
                            <br>
                            <span>
                                <i class='bx bx-check'></i>
                                Les évènements hybrides
                            </span>
                    </ul>
        </div>
                
        <div class="courses-details-images">
            <img src="../../../../assets/img/real/nouvelair.jpg" class="Img">

            <img src="../../../../assets/img/real/gt.jpg" class="gt">
        </div> 

        <div class="slides">
                    <a href="https://front.codes/" class="logo hover-target" target="_blank">
                        <img src="https://assets.codepen.io/1462889/fcb.png" alt="">
                    </a>

                    <div class="section full-height over-hide px-4 px-sm-0">
                        <div class="container">
                            <div class="row full-height justify-content-center">
                                <div class="col-lg-10 col-xl-8 align-self-center padding-tb">
                                    <div class="section mx-auto text-center slider-height-padding">
                                        <input class="checkbox frst" type="radio" id="slide-1" name="slider" checked/>
                                        <label for="slide-1"></label>
                                        <input class="checkbox scnd" type="radio" name="slider" id="slider-2"/>
                                        <label for="slider-2"></label>
                                        <input class="checkbox thrd" type="radio" name="slider" id="slider-3"/>
                                        <label for="slider-3"></label>
                                        <input class="checkbox foth" type="radio" name="slider" id="slider-4"/>
                                        <label for="slider-4"></label>
                                        <ul>
                                            <li>
                                                <span>UNIVERSITÉ CENTRAL</span>
                                            </li>
                                            <li>
                                                <span>ESSEC</span>
                                            </li>
                                            <li>
                                                <span>TOTAL</span>
                                            </li>
                                            <li>
                                                <span>MEDALY</span>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>

        
        <!-- <section class="gallery-area pt-100 pb-70">
            <div class="container" id="ourJob">
                <div class="col-lg-8">
                    <div class="courses-title">
                        <h2>Notre travail</h2>

                    </div>
                </div>
                <div class="row pt-70 pb-50">

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-gallery-item mb-30">
                            <img src="assets/img/gallery/gallery1.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery1.jpg">
                        </div>
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-gallery-item mb-30">
                            <img src="assets/img/gallery/gallery2.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery2.jpg">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-gallery-item mb-30">
                            <img src="assets/img/gallery/gallery3.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery3.jpg">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-gallery-item mb-30">
                            <img src="assets/img/gallery/gallery4.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery4.jpg">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-gallery-item mb-30">
                            <img src="assets/img/gallery/gallery5.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery5.jpg">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-gallery-item mb-30">
                            <img src="assets/img/gallery/gallery6.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery6.jpg">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-gallery-item mb-30">
                            <img src="assets/img/gallery/gallery7.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery7.jpg">
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-gallery-item mb-30">
                            <img src="assets/img/gallery/gallery8.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery8.jpg">
                        </div>
                    </div>


                </div>
            </div>
        </section> -->
        
    </div>
        
    <section class="contact-area pb-100">
        <div class="container">
            <div class="section-title">
                <span class="sub-title"><strong>Demande de devis</strong></span>
                <h4 style="color: aliceblue;">Maintenant parlons de votre projet !</h4>

            </div>

            <div class="contact-form">
                <form id="contactForm">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input required type="text" name="nom" id="nom" class="form-control" placeholder="Nom*">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input required type="text" name="prenom" id="prenom" class="form-control" placeholder="Prénom*">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input required type="email" name="email" id="email" class="form-control" placeholder="Email*">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input required type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Téléphone*">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input required type="text" name="nomEntreprise" id="nomEntreprise" class="form-control" placeholder="Nom de l'entreprise">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <input required type="text" name="secteur" id="secteur" class="form-control" placeholder="Secteur">
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea required name="message" class="form-control" id="message" cols="30" rows="5" placeholder="Demande*"></textarea>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <span class="default-btn"><i class='bx bx-paper-plane icon-arrow before'></i><button class="label" type="submit">Envoyer</button><i class="bx bx-paper-plane icon-arrow after"></i></span>
                            <span id="import" type="button" class="default-btn"><i style="margin-top: -2px;" class="icon-arrow before"><img src="../../../../assets/img/icons/after.png" style="margin-top: -12px;"></i><button class="label" type="reset">Annuler</button><i class="after"><img src="../../../../assets/img/icons/before.png"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="particles-js-circle-bubble-3"></div>
        <div class="contact-bg-image"><img src="assets/img/map.png" alt="image"></div>


    </section>
</div>
<app-footer></app-footer>
