<app-header-style></app-header-style>

<div class="page-title-area " data-jarallax='{"speed": 0.3}' style="background-image: url('../../../../assets/img/Blog-Imgs/micro2.jpg');">
    <div class="container">
        <div class="page-title-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>Blog Details</li>
            </ul>
            <h2>Actualité</h2>
        </div>
    </div>
</div>

<div id="container" class="galeryBtn">
    <button class="learn-more" routerLink="/galerie">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text"> voir Galerie</span>
    </button>
</div>

<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="../../../../assets/img/Blog-Imgs/ibcomprod QNB.jpg" alt="image">
                    </div>

                    <div class="article-content">

                        <h3>QNB Sponsor Gold du 24ème Forum International de Réalités</h3>
                        <p>
                            QNB, la plus grande institution financière au Moyen-Orient et en Afrique, a participé au 24ème Forum International organisé par le magazine Réalités, intitulé : « La Nouvelle donne Géopolitique en Méditerranée » qui s’est organisé du 13 au 14 octobre 2022 à Hammamet.

                            Cette participation s’inscrit dans le cadre de la volonté du Groupe QNB d’assurer sa présence au cœur des événements et initiatives les plus importants liés au domaine de la santé, de l’énergie, de l’économie et de la géopolitique, faisant partie intégrante de sa stratégie et de sa mission de contribuer à asseoir la durabilité dans les pays dans lesquels l’institution opère.

                            Des experts et des personnalités diplomatiques de haut rang tels que le ministre des Affaires étrangères Othman Jerandi et des ambassadeurs de pays amis ont participé à cette 24ème édition du forum, l’objectif est de discuter et débattre des problèmes actuels rencontrés par les pays méditerranéens et des défis auxquels ils sont confrontés.

                            Au cours de sa participation au forum, le Directeur Général de QNB Tunisie, M. Lotfi Debbabi a donné un aperçu sur la situation actuelle du pays, du secteur économique et financier, des facteurs d’influence sur  l’attraction de nouveaux investissements et de l’importance de se procurer les moyens nécessaires et adéquats pour les financer.

                            QNB est présente sur 13 gouvernorats et dispose d’un réseau de 34 agences, dont deux agences QNB First à Tunis sur l’avenue Mohammed V à Tunis et à Sousse Zayatine, 3 centres d’affaires pour les entreprises à Tunis et Hammam-Sousse, et 4 bureaux de change (3 bureaux à l’Aéroport de Tunis Carthage et un bureau à l’aéroport de Djerba).
                        </p>

                    </div>
    <br><br>
                    <h3 id="other">Dans le même contexte:</h3>

                    <div class="same">

                        <span id="first">
                            <img src="../../../../assets/img/Blog-Imgs/ibcomprod QNB.jpg" alt="">
                            <a href="#"> <p>Lorem ipsum dolor</p> </a>
                            <a href="#" id="more">Voir plus</a>
                        </span>

                        <span id="second">
                            <img src="../../../../assets/img/Blog-Imgs/ibcomprod QNB.jpg" alt="">
                            <a href="#" > <p>Lorem ipsum dolor sit</p> </a>
                            <a href="#" id="more">Voir plus</a>
                        </span>

                        <span id="third">
                            <img src="../../../../assets/img/Blog-Imgs/ibcomprod QNB.jpg" alt="">
                            <a href="#"> <p>Lorem ipsum</p> </a>
                            <a href="#" id="more">Voir plus</a>
                        </span>

                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <aside class="widget-area">
                    <section class="widget widget_search">
                        <form class="search-form">
                            <label>
                                <span class="screen-reader-text">Search for:</span>
                                <input type="search" class="search-field" placeholder="Search...">
                            </label>
                            <button type="submit"><i class="bx bx-search-alt"></i></button>
                        </form>
                    </section>

                    <section class="widget widget_ednuv_posts_thumb">
                        <h3 class="widget-title">Popular Posts</h3>

                        <article class="item">
                            <a routerLink="/single-blog" class="thumb">
                                <span class="fullimage cover bg1" role="img"></span>
                            </a>
                            <div class="info">
                                <time datetime="2019-06-30">June 10, 2019</time>
                                <h4 class="title usmall"><a routerLink="/single-blog">Making Peace With The Feast Or Famine Of Freelancing</a></h4>
                            </div>
                            <div class="clear"></div>
                        </article>

                        <article class="item">
                            <a routerLink="/single-blog" class="thumb">
                                <span class="fullimage cover bg2" role="img"></span>
                            </a>
                            <div class="info">
                                <time datetime="2019-06-30">June 21, 2019</time>
                                <h4 class="title usmall"><a routerLink="/single-blog">I Used The Web For A Day On A 50 MB Budget</a></h4>
                            </div>
                            <div class="clear"></div>
                        </article>

                        <article class="item">
                            <a routerLink="/single-blog" class="thumb">
                                <span class="fullimage cover bg3" role="img"></span>
                            </a>
                            <div class="info">
                                <time datetime="2019-06-30">June 30, 2019</time>
                                <h4 class="title usmall"><a routerLink="/single-blog">How To Create A Responsive Popup Gallery?</a></h4>
                            </div>
                            <div class="clear"></div>
                        </article>
                    </section>

                    <section class="widget widget_categories">
                        <h3 class="widget-title">Categories</h3>

                        <ul>
                            <li><a routerLink="/blog-style-2">RELATIONS PRESSE ET PUBLIQUES<span class="post-count">(03)</span></a></li>
                            <li><a routerLink="/blog-style-2">Production Audiovisuelle <span class="post-count">(05)</span></a></li>
                            <li><a routerLink="/blog-style-2">Marketing Digital<span class="post-count">(10)</span></a></li>
                            <li><a routerLink="/blog-style-2">ÉVÉNEMENTIEL<span class="post-count">(08)</span></a></li>
                            <li><a routerLink="/blog-style-2">Développement Web<span class="post-count">(01)</span></a></li>
                            <li><a routerLink="/blog-style-2">DESIGN GRAPHIQUE<span class="post-count">(01)</span></a></li>
                        </ul>
                    </section>

                    <section class="widget widget_instagram">
                        <h3 class="widget-title">Instagram</h3>

                        <ul>
                            <li><a href="#" target="_blank" class="d-block"><img src="assets/img/blog/blog1.jpg" alt="image"></a></li>
                            <li><a href="#" target="_blank" class="d-block"><img src="assets/img/blog/blog2.jpg" alt="image"></a></li>
                            <li><a href="#" target="_blank" class="d-block"><img src="assets/img/blog/blog3.jpg" alt="image"></a></li>
                            <li><a href="#" target="_blank" class="d-block"><img src="assets/img/blog/blog4.jpg" alt="image"></a></li>
                            <li><a href="#" target="_blank" class="d-block"><img src="assets/img/blog/blog5.jpg" alt="image"></a></li>
                            <li><a href="#" target="_blank" class="d-block"><img src="assets/img/blog/blog6.jpg" alt="image"></a></li>
                        </ul>
                    </section>

                </aside>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>