@media only screen and (max-width: 412px) {
    .funfacts-area {
        width: 100%;
    }
}
.head{
  display: none;
}
.socialMedia{
        //margin-top: -30%;
        margin-top: 0%;
        margin-left: 6.5px;
        height: 100%;
        position: sticky;
        top: 2.5%;
        width: 5%;
        margin-bottom: 40%;
        img{
            display: block;
            margin-bottom: 10%;
        }
}
.galeryBtn{
        button{
          border: none;
          background: transparent;
          color: white;
            
        }
        width: 5%;
        position: sticky;
        top: 70%;
        margin-left: 85.7%;
        display: block;
        margin-bottom: 40%;
        margin-top: -17%;
        font-weight: bold;
}

.about{
  
  margin-top: -750px;
}

.clients{
  width: 93%;
  h3{
    margin-top: 40px;
    margin-left: 0%;
  }
 margin-top: 0px;
  height: 50%;
  margin-left: 50px;
  margin-bottom: 50px;
}

.scrollUp{
  //scroll-behavior: smooth;
  height: 30px;
  width: 50px;
  border-radius: 50%;
  background-color: #282936;
  display: flex;
  position: sticky;
  top: 5px;
  margin-left:94%;
  //margin-top:0%;
  img{
      width: 70%;
      filter: invert(100%);
      -webkit-filter: invert(100%);
      right: auto;
      margin-left: 14.7%;
      margin-bottom: 0%;
      justify-content: center;
      //align-items: center;
      
      bottom: 20px;
      cursor: pointer;
      
  }
}
.feedback-area{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0%
}
.sm{
  display: inline;
}

.scrollUp{
  scroll-behavior: smooth;
  height: 30px;
  width: 50px;
  border-radius: 50%;
  background-color: #282936;
  display: flex;
  position: fixed;
  margin-left: 94%;
  margin-top: -31%;
  img{
      width: 70%;
      filter: invert(100%);
      -webkit-filter: invert(100%);
      right: auto;
      margin-left: 14.7%;
      margin-bottom: 0%;
      justify-content: center;
      //align-items: center;
      
      bottom: 20px;
      cursor: pointer;
      
  }
}
@import url('https://fonts.googleapis.com/css?family=Mukta:700');

$bg: #f3f8fa;
$white: #fff;
$black: #282936;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: $bg;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
        background: $white;
        transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main .";
  }
}

.scrollUp{
  scroll-behavior: smooth;
  height: 30px;
  width: 50px;
  border-radius: 50%;
  background-color: #282936;
  display: flex;
  position: fixed;
  margin-left: 94%;
  margin-top: -31%;
  img{
      width: 70%;
      filter: invert(100%);
      -webkit-filter: invert(100%);
      right: auto;
      margin-left: 14.7%;
      margin-bottom: 0%;
      justify-content: center;
      //align-items: center;
      
      bottom: 20px;
      cursor: pointer;
      
  }
}

.mobileMenu{
  display: none;
}

@media only screen and  (max-width: 375px){
    .mobileMenu{
      margin-left: -100px;
      display: block;
      $lred:#E57373;
      $red:#F44336;

    @mixin transition($in) {
      transition:$in;
      -webkit-transition:$in;
      -moz-transition:$in;
      -o-transition:$in;
      -ms-transition:$in;
    }

    body {
      margin:0;
      padding:0;
      background-color:#222;
    }

    * {
      font-family:Helvetica,sans-serif;
      color:#555;
    }

    #mmeennuu {
      display:none;
    }

    #mmeennuu:checked ~ .menu {

      width:100%;
      border-radius:5px;
      background-color:transparent;
      border:3px solid $red;
      height:auto;

      &>ul {
        display:block;
        opacity:1;
      }
      &>.barry {
        display:none;
      }
    }

    .menu {
      display:block;
      margin:30px auto;
      width:100px;
      height:100px;
      background-color:$red;
      border:3px solid transparent;
      border-radius:50%;
      overflow:hidden;
      cursor:pointer;
      @include transition(all 0.5s ease-in-out);

      div.barry {
        width:40px;
        margin:35px auto;


        .bar {
          display:block;
          width:100%;
          height:5px;
          margin-top:3px;
          border-radius:2px;
          background-color:#fff;
        }
      }

      ul {
        opacity:0;
        display:none;
        @include transition(all 0.5s ease-in-out);
        list-style-type:none;
        padding:0;
        width:500px;
        text-align:center;
        margin-bottom: 0;

        li {
          display:inline-block;
          a {
            text-decoration:none;
            display:inline-block;
            padding:15px 25px;
            color:$red;
            font-size:10px;
            @include transition(all 0.3s ease-in-out);
            border:3px solid transparent;
            border-radius:5px;

            &:hover {
              border-color:$red;
            }
            
            &:target {
              border-bottom-color:$red;
            }
          }
        }
      }
    }
    }
    .about{
        margin-top: 80px;
    }
}




@media only screen and (min-width: 376px) and (max-width: 414px){
  .about{
    margin-top: 80px;
  }
  .head{
    display: block;
  }
  .sm{
    display: none;
  }
  .galeryBtn{
    button{
      border: none;
      background: transparent;
      color: white;
        
    }
    width: 5%;
    position: sticky;
    top: 70%;
    margin-left: 7%;
    display: block;
    margin-bottom: 40%;
    margin-top: -17%;
    font-weight: bold;
  }
} 

@media  only screen and (min-width: 413px) and (max-width: 912px){
  .head{
    display: block;
  }
  .sm{
    display: none;
  }
}
.sub-title {
  margin-top: -45px;
  text-transform: uppercase;
  display: block;
  color: var(--mainColor);
  font-weight: 500;
  margin-bottom: 50px;
  font-size: 25px;
}
.loc{
  margin-left: 25px;
  margin-bottom: 30px;
  margin-top: 0%;
}
#map {
  margin-top: -20px;
  iframe {
      height: 350px;
      width: 100%;
      border: none;
     
  }
}
.services{
  margin-top: -10%;
}