<div class="head">
    <app-header-style></app-header-style>
</div>

<div style="overflow-x: hidden;">
    <div id="banner">
        <app-homeone-main-banner></app-homeone-main-banner>
    </div>
</div>
    <!-- <a class="scrollUp" href="/événementiel">
        <img src="../../../../assets/img/icons/up.png"/>
    </a> -->
    <div class="sm">
        <app-common-elements></app-common-elements>
    </div>

    <div class="about">
        <app-homeone-about></app-homeone-about>
    </div>
    <!-- <section class="funfacts-area pt-100">
        <div class="container">
            <div class="funfacts-inner">
                <app-funfacts></app-funfacts>
                <div id="particles-js-circle-bubble"></div>
            </div>
        </div>
    </section> -->

    <!-- <app-homeone-courses></app-homeone-courses> -->

    <div class="clients">
        <h3 class="sub-title">Nos clients</h3>
        <app-clients></app-clients>
    </div>

    <!-- <section class="feedback-area ptb-100">
        <div class="container">
            <h3 class="sub-title">Nos références</h3>

            <app-feedback-style-one></app-feedback-style-one>
        </div>
    </section> -->
    
   

