<div class="tech-slideshow">
  <div class="mover-1">
    <div class="img">
      <abbr title="OOREDOO"><img src="../../../../assets/img/clients/OOREDOO-IbComProd.png" alt=""></abbr>
      <abbr title="Université Centrale"><img src="../../../../assets/img/clients/UC-IbComProd.png" alt=""></abbr>
      <abbr title="Magasin Général"><img src="../../../../assets/img/clients/MG-IbComProd.png" alt=""></abbr>
      <abbr title="Arab Tunisian Bank"><img src="../../../../assets/img/clients/ATB-IbComProd.png" alt=""></abbr>
      <abbr title="Nouvelair"><img src="../../../../assets/img/clients/NA-IbComProd.png" alt=""></abbr>
      <abbr title="Qatar National Bank"><img src="../../../../assets/img/clients/QNB-IbComProd.png" alt=""></abbr>
      <abbr title="TotalEnergies "><img src="../../../../assets/img/clients/TE-IbComProd.png" alt=""></abbr>
      <abbr title="Peugeot"><img src="../../../../assets/img/clients/PEUGEOT-IbComProd.png" alt=""></abbr>
      <button href="/nos-clients"> Voir Plus</button>
  </div>
  <div class="mover-2">
    <img src="../../../../assets/img/clients/ABC-IbComProd.png" alt="">
    <img src="../../../../assets/img/clients/ACRPS-IbComProd.png" alt="">
    <img src="../../../../assets/img/clients/AFRINC-IbComProd.png" alt="">
    <img src="../../../../assets/img/clients/ALLIANCE-IbComProd.png" alt="">
    <img src="../../../../assets/img/clients/AMINE-IbComProd.png" alt="">
    <img src="../../../../assets/img/clients/ATB-IbComProd.png" alt="">
    <img src="../../../../assets/img/clients/ATI-IbComProd.png" alt="">
    <img src="../../../../assets/img/clients/Bellini-IbComProd.png" alt="">
    <img src="../../../../assets/img/clients/ExpertiseFrance-IbComProd.png" alt="">
    <img src="../../../../assets/img/clients/EBS-IbComProd.png" alt="">
    <img src="../../../../assets/img/clients/ATB-IbComProd.png" alt="">
    <img src="../../../../assets/img/clients/NA-IbComProd.png" alt="">
  </div>
</div>