<app-header-style></app-header-style>
<div style="background-color: rgb(17, 16, 16);">
    <div class="page-title-area" data-jarallax='{"speed": 0.3}'>
        <div class="container" id="scroll">
            <!-- <div class="page-title-content">
                    <ul>
                        <li><a href="index.html">Acceuil</a></li>
                        <li><a href="courses-2-columns-style-1.html">RELATIONS PRESSE ET PUBLIQUES</a></li>

                    </ul>
                </div> -->
            <h2>AGENCE DE RELATIONS PRESSE TUNISIE</h2>
            <p><strong>IBComProd</strong> vous offre une expertise dans les domaines majeurs de la communication</p>
        
        </div>
    </div>

    <!-- <a class="scrollUp" href="/relations-presse-et-publiques">
        <img src="../../../../assets/img/icons/up.png"/>
    </a> -->

    <div id="container" class="galeryBtn">
        <button class="learn-more" routerLink="/galerie">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <span class="button-text"> voir Galerie</span>
        </button>
    </div>
    <section class="courses-details-area pt-100 pb-70">
        <div class="container">
            <div class="courses-details-header">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="has-animation animation-ltr" data-delay="10">
                            <!-- <div class="courses-title">                        
                                <h2>RELATIONS PRESSE ET PUBLIQUES</h2>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="courses-details-image text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/d8dH9hNYwMA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="courses-sidebar-information">
                        <ul>
                            <li>
                                <span><img  id="icon" src="../../../../assets/img/icons/vision.png" alt="Vision icon"> &nbsp; Accroître la visibilité dans les médias</span>

                            </li>
                            <li>
                                <span><img  id="icon" src="../../../../assets/img/icons/credibility.png" alt="Credibility icon" id="icon"> &nbsp; Crédibilité médiatique </span>

                            </li>
                            <li>
                                <span><img  id="icon" src="../../../../assets/img/icons/rentabilité.png" alt="Rentability icon" id="icon"> &nbsp; Amélioration de la rentabilité</span>

                            </li>
                        </ul>
                    </div>
                </div>
                <div class="courses-details-desc1">
                    <h3>À PROPOS DE NOUS</h3>

                    <p><strong>IBComProd</strong> est une <strong>agence de Communication en Tunisie </strong>, comportant un département spécialement dédié aux<strong> Relations Presse et Publiques </strong>qui vous offre une expertise dans les domaines majeurs de la communication : <strong>Relations Presse</strong>, <strong>Relations Publiques classiques</strong>, mais également et surtout en adéquation avec l’ère du <strong>digital</strong> et des <strong>nouvelles technologies</strong>, <strong> Relations Blogueurs et Influenceurs</strong>.</p>
                    <p>
                        Grâce à notre expertise, nous créons des relations de confiance et formons des opinions éclairées, gages d’intérêt et de cohésion. 
                        La conviction, fer de lance de notre approche souvent audacieuse et créative, toujours efficace, nous permet de faire naître des liens et d’éclairer vos publics.
                    </p>

                    <p>
                        Nous imaginons des stratégies et tactiques sur mesure, portées par le bon message, pour mettre en lumière votre raison d’être, vos missions, vos services, vos produits à travers <strong>les canaux de communication</strong> et <strong>les relais d’influence</strong> les plus pertinents.
                    </p>
                </div>
                <div class="courses-details-desc2">
                    <h3>CHEZ IBCOMPROD</h3>
                    <p> Regroupe exclusivement des experts en communication, spécialisés dans <strong>la visibilité médiatique</strong>,
                        <strong>la rédaction</strong> et <strong>la diffusion multi langues des Communiqués de Presse</strong> (tant en arabe qu’en français ainsi qu’en langues voulues), 
                        <strong>l'organisation de conférences de presse</strong> ou encore <strong>les piges presse</strong> et <strong>l'élaboration de Press-Book électroniques récapitulatifs</strong>, vous donnant une idée quantitative et qualitative quant aux différents médias touchés.
                            <br> 
                        La première mission de notre <strong>département RP</strong>, est de <strong>développer la visibilité</strong> de votre entreprise auprès de votre public cible et par conséquent de vous permettre d’attirer des prospects.
                        Par une médiatisation, télévisuelle, radiophonique ou encore à travers le web ou les canaux classiques.
                    </p>          
                </div>
                <div class="courses-details-images">
                <img src="../../../../assets/img/1.jpg" class="img1">
                <!-- <img src="../../../../assets/img/2.jpg" class="img2"> -->

                <figure class="snip1374" id="img2">
                    <img src="../../../../assets/img/9 (2).jpg" alt="sample68" />
                </figure>

                <figure class="snip1374" id="img3">
                    <img src="../../../../assets/img/2`.jpg" alt="sample68" />
                </figure>
                </div>       
                
                <!-- <figure class="snip1374">
                    <a href="#"><img src="../../../../assets/img/2.jpg" alt="sample57" /></a>
                </figure> -->
                
            </div>
        </div>
    </section>

    <!-- <section class="gallery-area pt-100 pb-70">
        <div class="container">
            <div class="col-lg-8">
                <div class="courses-title">
                    <h2 id="ourJob">Notre travail</h2>

                </div>
            </div>
            <div class="row pt-70 pb-50">

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/ibcomagencedecomtunisie.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery1.jpg">
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/ibcomagencedecomtunisie2.png" alt="Gallery Image" data-original="assets/img/gallery/gallery2.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/ibcomagencedecomtunisie.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery3.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/ibcomagencedecomtunisie.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery4.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/ibcomagencedecomtunisie2.png" alt="Gallery Image" data-original="assets/img/gallery/gallery5.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/ibcomagencedecomtunisie.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery6.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/ibcomagencedecomtunisie.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery7.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/ibcomagencedecomtunisie2.png" alt="Gallery Image" data-original="assets/img/gallery/gallery8.jpg">
                    </div>
                </div>


            </div>
        </div>
    </section> -->
    <section class="contact-area pb-100">
        <div class="container">
            <div class="section-title">
                    <span class="sub-title"><strong>Demande de devis</strong></span>
                    <h4 style="color: aliceblue;">Maintenant parlons de votre projet !</h4>

            </div>

            <div class="contact-form">
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input required type="text" name="nom" id="nom" class="form-control" placeholder="Nom*">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input required type="text" name="prenom" id="prenom" class="form-control" placeholder="Prénom*">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input required type="email" name="email" id="email" class="form-control" placeholder="Email*">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input required type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Téléphone*">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input required type="text" name="nomEntreprise" id="nomEntreprise" class="form-control" placeholder="Nom de l'entreprise">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input required type="text" name="secteur" id="secteur" class="form-control" placeholder="Secteur">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea required name="message" class="form-control" id="message" cols="30" rows="5" placeholder="Demande*"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <span class="default-btn"><i class='bx bx-paper-plane icon-arrow before'></i><button class="label" type="submit">Envoyer</button><i class="bx bx-paper-plane icon-arrow after"></i></span>
                                <span id="import" type="button" class="default-btn"><i style="margin-top: -6px;" class="icon-arrow before"><img src="../../../../assets/img/icons/after.png"></i><button class="label" type="reset">Annuler</button><i class="after"><img src="../../../../assets/img/icons/before.png" style="margin-top: -0px;"></i></span>
                            </div>
                        </div>
                    </form>
            </div>
        </div>

        <div id="particles-js-circle-bubble-3"></div>
        <div class="contact-bg-image"><img src="assets/img/map.png" alt="image"></div>


    </section>
  
</div>

<app-footer></app-footer>
