<app-user-header></app-user-header>
<app-hometwo-main-banner></app-hometwo-main-banner>
<app-hometwo-about></app-hometwo-about>


<section class="funfacts-area pt-100">
    <div class="container">
        <div class="funfacts-inner">
            <app-funfacts></app-funfacts>
            <div id="particles-js-circle-bubble"></div>
        </div>
    </div>
</section>

<app-hometwo-courses></app-hometwo-courses>


<section class="feedback-area ptb-100">
    <div class="container">
        <app-feedback-style-one></app-feedback-style-one>
    </div>
</section>

<app-footer></app-footer>
