<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-30" id="contact">
                    <h3>Contacter nous</h3>

                    <ul class="contact-us-link">
                        <li>
                            <i class='bx bx-map'></i>
                            <a target="_blank">28, Rue 8600 Z.I. La Charguia I 2035, Site archéologique de Carthage، 1 2035</a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a>+216 95 777 154  +216 31 196 056  </a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a>contact@ibcomprod.com</a>
                        </li>
                    </ul>

                    <ul class="social-link">
                        <li><a href="https://www.facebook.com/ibcom.agency" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        
                        <li><a href="https://www.linkedin.com/in/ibcom-prod-1735b7179/" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="https://www.instagram.com/ibcom.agency/?hl=fr" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCACJPhuXfwx6FmLxoJCDXMg" class="d-block" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                    </ul>
                </div>
            </div>

           

            <div class="col-lg-4 col-md-6 col-sm-6" id="links">
                <div class="single-footer-widget mb-30">
                    <h3>Liens utiles</h3>

                    <ul class="useful-link">
                        <li><a routerLink="/relations-presse-et-publiques">RELATIONS PRESSE ET PUBLIQUES</a></li>
                        <li><a routerLink="/production-audiovisuelle">Production Audiovisuelle</a></li>
                        <li><a routerLink="/marketing-digital">Marketing Digital</a></li>
                        <li><a routerLink="/événementiel">ÉVÉNEMENTIEL</a></li>
                        <li><a routerLink="/développement-web">Développement Web</a></li>
                        <li><a routerLink="/design-graphique">DESIGN GRAPHIQUE</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6" id="Newsletter" >
                <div class="single-footer-widget mb-30">
                    <h3>Newsletter</h3>

                    <div class="newsletter-box">
                        <p>Pour obtenir les dernières nouvelles et les dernières mises à jour de notre part</p>
                        <form class="newsletter-form">
                            <label>Votre adresse e-mail:</label>
                            <input type="email" class="input-newsletter" placeholder="E-mail" name="EMAIL">
                            <button type="submit">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- <div id="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3193.206430339298!2d10.200958614358164!3d36.83753187329892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd4b88474e068d%3A0x2917380f565f81c6!2sIBComProd!5e0!3m2!1sfr!2stn!4v1657899541034!5m2!1sfr!2stn"
                 width="500px" height="420px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div> -->
        </div>
    </div>

    <div class="footer-bottom-area">
        <div class="container">
            
            <p><i class='bx bx-copyright'></i>2023 <a href="/">IbCom</a> élaboré par <a href="/">IbCom Prod</a></p>
        </div>
    </div>
</footer>

<div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>