
<div class="bg">
    <section class="courses-area pt-100 pb-70" >
        <div class="container">
            <!-- <div class="section-title text-left">
                <span class="sub-title">Découvrez nos clients</span>
                
                <a routerLink="/nos-clients" class="default-btn">
                <i class='bx bx-show-alt icon-arrow before'>
                </i><span class="label">Voir Tout</span><i class="bx bx-show-alt icon-arrow after"></i>
            </a>
            </div> -->
            <!-- data-filter=".photography" -->
            <!-- <div class="shorting-menu">
                <button class="filter" routerlink>All (06)</button>
                <button class="filter">RELATIONS PRESSE ET PUBLIQUES (02)</button>
                <button class="filter">Production Audiovisuelle (05)</button>
                <button class="filter">Marketing Digital (04)</button>
                <button class="filter">ÉVÉNEMENTIEL (02)</button>
                <button class="filter">Développement Web (03)</button>
                <button class="filter">DESIGN GRAPHIQUE (04)</button>
            </div> -->

            <div class="shorting">
                <div class="row">
                    <h3 class="sub-title">Nos Services</h3>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-courses-box mb-30">
                            <div class="courses-image">
                                <a routerLink="/développement-web" class="d-block"><img src="../../../../../assets/img/mokups/devWeb.jpg.png" alt=""></a>

                                <div class="courses-tag">
                                    <a routerLink="/développement-web" class="d-block">DÉVELOPPEMENT WEB</a>
                                </div>
                            </div>

                            <!-- <div class="post-content">
                                <ul class="post-meta">
                                    <li class="post-author">
                                        <img src="assets/img/user3.jpg" class="d-inline-block rounded-circle mr-2" alt="image">
                                        Par: <a routerLink="/blog-style-2" class="d-inline-block">David Malan</a>
                                    </li>
                                    <li><a routerLink="/blog-style-2">28 août 2019</a></li>
                                </ul>
                                <h3><a routerLink="/single-blog" class="d-inline-block">How to enhance education quality management system</a></h3>
                                <a routerLink="/single-blog" class="read-more-btn">Voir plus <i class='bx bx-right-arrow-alt'></i></a>
                            </div> -->
                            
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="single-courses-box mb-30">
                            <div class="courses-image">
                                <a routerLink="/relations-presse-et-publiques" class="d-block"><img src="../../../../../assets/img/RP.jpg" alt="image"></a>

                                <div class="courses-tag">
                                    <a routerLink="/relations-presse-et-publiques" class="d-block">RELATIONS PRESSE ET PUBLIQUES</a>
                                </div>
                            </div>

                            <!-- <div class="post-content">
                                <ul class="post-meta">
                                    <li class="post-author">
                                        <img src="assets/img/user1.jpg" class="d-inline-block rounded-circle mr-2" alt="image">
                                        Par: <a routerLink="/blog-style-2" class="d-inline-block">Steven Smith</a>
                                    </li>
                                    <li><a routerLink="/blog-style-2">30 août 2019</a></li>
                                </ul>
                                <h3><a routerLink="/single-blog" class="d-inline-block">World largest elephant toothpaste experiment in 2019</a></h3>
                                <a routerLink="/single-blog" class="read-more-btn">Voir plus <i class='bx bx-right-arrow-alt'></i></a>
                            </div> -->

                        
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 ">
                        <div class="single-courses-box mb-30">
                            <div class="courses-image">
                                <a routerLink="/marketing-digital" class="d-block"><img src="../../../../../assets/img/mokups/marketing.png" alt="image"></a>

                                <div class="courses-tag">
                                    <a routerLink="/marketing-digital" class="d-block">MARKETING DIGITAL</a>
                                </div>
                            </div>

                            <!-- <div class="post-content">
                                <ul class="post-meta">
                                    <li class="post-author">
                                        <img src="assets/img/user5.jpg" class="d-inline-block rounded-circle mr-2" alt="image">
                                        Par: <a routerLink="/blog-style-2" class="d-inline-block">David Warner</a>
                                    </li>
                                    <li><a routerLink="/blog-style-2"> 27 août 2019</a></li>
                                </ul>
                                <h3><a routerLink="/single-blog" class="d-inline-block">Global education: Ideas for the way move forward</a></h3>
                                <a routerLink="/single-blog" class="read-more-btn">Voir plus <i class='bx bx-right-arrow-alt'></i></a>
                            </div> -->

                            
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 ">
                        <div class="single-courses-box mb-30">
                            <div class="courses-image">
                                <a routerLink="/événementiel" class="d-block"><img src="../../../../../assets/img/event.jpg" alt="image"></a>

                                <div class="courses-tag">
                                    <a routerLink="/événementiel" class="d-block">ÉVÉNEMENTIEL</a>
                                </div>
                            </div>

                            <!-- <div class="post-content">
                                <ul class="post-meta">
                                    <li class="post-author">
                                        <img src="assets/img/user6.jpg" class="d-inline-block rounded-circle mr-2" alt="image">
                                        Par: <a routerLink="/blog-style-2" class="d-inline-block">Olivar Waise</a>
                                    </li>
                                    <li><a routerLink="/blog-style-2"> 26 août 2019</a></li>
                                </ul>
                                <h3><a routerLink="/single-blog" class="d-inline-block">New report reimagines the broader education workforce</a></h3>
                                <a routerLink="/single-blog" class="read-more-btn">Voir plus <i class='bx bx-right-arrow-alt'></i></a>
                            </div> -->

                            
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 ">
                        <div class="single-courses-box mb-30">
                            <div class="courses-image">
                                <a routerLink="/design-graphique" class="d-block"><img src="../../../../../assets/img/bellini.jpg" alt="image"></a>

                                <div class="courses-tag">
                                    <a routerLink="/design-graphique" class="d-block">DESIGN GRAPHIQUE</a>
                                </div>
                            </div>

                            <!-- <div class="post-content">
                                <ul class="post-meta">
                                    <li class="post-author">
                                        <img src="assets/img/user2.jpg" class="d-inline-block rounded-circle mr-2" alt="image">
                                        Par: <a routerLink="/blog-style-2" class="d-inline-block">Lina D'Souja</a>
                                    </li>
                                    <li><a routerLink="/blog-style-2"> 29 août 2019</a></li>
                                </ul>
                                <h3><a routerLink="/single-blog" class="d-inline-block">What’s Going On in This Picture? | Jan. 13, 2020</a></h3>
                                <a routerLink="/single-blog" class="read-more-btn">Voir plus <i class='bx bx-right-arrow-alt'></i></a>
                            </div> -->
                            
                        </div>
                    </div>
                
                    <div class="col-lg-4 col-md-6">
                        <div class="single-courses-box mb-30">
                            <div class="courses-image">
                                <a routerLink="/production-audiovisuelle" class="d-block">
                                    <img src="../../../../../assets/img//AV.jpg" alt="image">
                                </a>

                                <div class="courses-tag">
                                    <a routerLink="/production-audiovisuelle" class="d-block">PRODUCTION AUDIOVISUELLE</a>
                                </div>
                            </div>

                        
                            <!-- <div class="post-content">
                                <ul class="post-meta">
                                    <li class="post-author">
                                        <img src="assets/img/user2.jpg" class="d-inline-block rounded-circle mr-2" alt="image">
                                        Par: <a routerLink="/blog-style-2" class="d-inline-block">Lina D'Souja</a>
                                    </li>
                                    <li><a routerLink="/blog-style-2"> 29 août 2019</a></li>
                                </ul>
                                <h3><a routerLink="/single-blog" class="d-inline-block">Most Popular Education Posts Of The Week 20-26 Aug</a></h3>
                                <a routerLink="/single-blog" class="read-more-btn">Voir plus <i class='bx bx-right-arrow-alt'></i></a>
                            </div> -->

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>