<div id="container" class="galeryBtn">
    <button class="learn-more" routerLink="/galerie">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text"> voir Galerie</span>
    </button>
</div>

<div class="socialMedia">
    <a href="https://api.whatsapp.com/send?phone=21695777154&data=AWBRV6lOYAC_krIF8G5k2o7UOmtaKzV5LNvI6d15b_3Y9P6IeOquNN15gl-6sgHhe3MZnzbg16uLpVp2giQ2EKgSc3dz2Cod0Fpl8mA4Xxat9nSI4rpTR9df1WatuILqEY9DXkSE3V9EhvCTFrPjjrYfWLpjLJhSbB5creUbMaFtFSNLhTROk3dkDMFU4vJWWhVZPDTrBh3Q_DprECmchutrctuIRFvA4K2-rqVo_vJ_5gtLFgUlIszU_9B2HmufyKg_SjcYWA3mDtoSPJxPBw&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR18D3m2g5wdDPU4iR4CRgRIPvxJf2GbVMCNxd2YqEPFDr-W9kxKVosYeQI" target="_blank"> 
        <img src="../../../../assets/img/commonElements/facebook.png">
    </a>
    <a href="https://www.instagram.com/ibcom.agency/?hl=fr" target="_blank"> 
        <img src="../../../../assets/img/commonElements/instagram.png">
    </a>
    <a href="https://www.linkedin.com/company/ibcomprod/" target="_blank" >
        <img src="../../../../assets/img/commonElements/linkedin.png">
    </a>
    <a href="https://www.youtube.com/@ibcomprod2453" target="_blank">
        <img src="../../../../assets/img/commonElements/youtubee.png">
    </a>
</div>