<app-header-style></app-header-style>

<div style="background-color:black; overflow: hidden;">
    <div class="page-title-area jarallax" data-jarallax='{"speed": 0.3}'>
        <div class="container" >
            <!-- <div class="page-title-content">
                <ul>
                    <li><a href="index.html">Acceuil</a></li>
                    <li><a href="courses-2-columns-style-1.html">Marketing Digital</a></li>
                </ul>
            </div> -->
            <div id="video-background">
                <div class="video-foreground">
                    <iframe src="https://www.youtube.com/embed/m1YUmZRfgqU/?playlist=m1YUmZRfgqU&loop=1&autoplay=1&controls=0&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <h2>AGENCE DE MARKETING DIGITAL</h2>
            <p><strong>IBComProd</strong> accompagne les marques dans la création et la mise en place de leurs stratégies de communication digitale et de visibilité en ligne.</p>

        </div>
    </div>
    <!-- <a class="scrollUp" href="/marketing-digital">
        <img src="../../../../assets/img/icons/up.png"/>
    </a> -->
    <div id="container" class="galeryBtn">
        <button class="learn-more" routerLink="/galerie">
        <span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
        </span>
        <span class="button-text">Galerie</span>
        </button>
    </div>

    <section class="courses-details-area pt-100 pb-70">
        <div class="container">
            <!-- <div class="courses-details-header">
                <div class="row align-items-center">
                    <div class="col-lg-8">
                        <div class="has-animation animation-ltr" data-delay="10">
                            <div class="courses-title">
                                <h2>Marketing Digital</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row" >
                <div class="col-lg-8">
                    <div class="courses-details-image text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/W4EuAJrIWCk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-lg-4" >
                    <div class="courses-sidebar-information">
                        <ul>
                            <li>
                                <span><img id="icon" src="../../../../assets/img/icons/improve.png" id="icon" alt="improve the image"> &nbsp; Booster l'image de marque</span>
                            </li>
                            <li>
                                <span><img id="icon" src="../../../../assets/img/icons/client.png" id="icon" alt="improve the image">&nbsp; Recruter de nouveaux clients</span>

                            </li>
                            <li>
                                <span><img id="icon" src="../../../../assets/img/icons/trust.png" id="icon" alt="loyal clients">&nbsp; Favoriser la fidélisation des clients</span>

                            </li>

                        </ul>
                    </div>
                </div>
                        
                <div class="courses-details-desc1">
                                <h3 id="desc">À PROPOS DE NOUS</h3>

                                <p> L’agence <strong>IBComProd</strong> vous accompagne dans le développement de votre stratégie de visibilité et de notoriété sur le Web grâce à des solutions digitales sur-mesure et adaptées à vos besoins : <strong>SEO</strong>, <strong>SEA</strong>,<strong> Social Media</strong>, <strong>Community management</strong>,<strong> Inbound Marketing </strong>et<strong> Motion Design</strong>.</p>
                </div>                        
                <div class="courses-details-desc2">
                                <h3>CHEZ IBCOMPROD</h3>
                                <p>Notre équipe aux multiples talents vous accompagne à chaque étape de votre projet digital.
                                    Découvrez sans plus tarder nos prestations et démarquez-vous!</p>
                            <span>
                                    <ul class="description-features-list">
                                        <li class="l1"><strong>Community Management</strong> – Nous assurons la gestion de vos réseaux sociaux attentivement, pour démarquer vos pages de la masse de contenus présents sur internet toute en assurant une interactivité rapide et intelligente avec votre communautés .</li>
                                        <li class="l2"><strong>Référencement Web</strong> – L’équipe digital vous permet d’augmenter le trafic de vos sites par des techniques SEO , 100% efficaces et à convertir également les visiteurs en leads. Elle examine le contenu, les mots clés et la structure des pages web codées afin de garantir un positionnement efficace sur les moteurs de recherche.</li>
                                        <li class="l1"><strong>Stratégie Digitale</strong> – Pour déployer une  stratégie digitale pertinente , notamment sur les réseaux sociaux IBComProd vous aide à définir vos objectifs, à identifier vos cibles et de même de piloter votre stratégie social media : ligne éditoriale, audit, benchmark concurrentiel et insights marché.</li>
                                    </ul>
                                </span>
                </div>
                <div class="courses-details-images">
                                <figure class="snip1374 img1">
                                    <img src="../../../../assets/img/mokups/insta 1.png" alt="sample66" />
                                </figure>

                </div>
            </div>
        </div>
    </section>
    <div class="shorting">
        <div class="col-lg-8">
            <div class="courses-title">
                <br>
                <h3 id="packs">Nos packs</h3>
                <br>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 mix business design language">

                <div>
                    <!-- class="single-courses-box": class bootstrap -->
                    <div class="courses-content">
                        <h3>CM : Standard</h3>
                        <div class="course-author d-flex align-items-center">
                            <span>Audit des réseaux sociaux</span>
                        </div>
                        <div class="packIcons">
                            <img src="../.././../../assets/img/icons/social-media.png" class="rotate">
                        </div>
                        
                        <div class="courses-details-desc">

                        <div class="why-you-learn">

                            <ul>
                                <div>
                                    <li>
                                        <span>
                                            <i class='bx bx-check'></i>
                                             Nombre de réseaux sociaux gérés 2
                                        </span>
                                    </li>
                                </div>
                                <div>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Nombre de publications / Semaine 3
                                    </span>
                            </li></div>
                            <div>
                            <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Conception graphique des publications et montage des vidéos (matière fournie par le client)
                                    </span>
                            </li></div>
                            <div>
                            <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Partage des stories existantes
                                    </span>
                            </li></div>
                            <div>
                            <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Modération et gestion de la communauté
                                    </span></li></div>

                                    <div>
                                    <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Gestion des publications et briefs
                                    </span>
    </li></div>
    <div>
    <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Gestion des Hashtag et des Trends
                                    </span></li></div>
    <div>
                                    <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Gestion de Facebook ADS
                                    </span>
    </li></div>
    <div>
    <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Planification et automatisation des publications
                                    </span>
    </li></div>
    <div><li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        2 Plannings pour chaque mois
                                    </span>
    </li></div>
    <div><li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Reporting mensuel
                                    </span>
    </li></div>
    <div><li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Boost des publications (sur devis)

                                    </span>
    </li> </div>

                            </ul>
                            </div>


                    </div>

                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mix development business management">
                <div class=" mb-30">
                    <div class="courses-content">
                        <h3>CM Avancé</h3>
                        <div class="course-author d-flex align-items-center">
                            <span>Audit des réseaux sociaux</span>
                        </div>
                        <div class="packIcons">
                            <img src="../../../../assets/img/icons/network.png" class="rotate">
                        </div>
                        <div class="courses-details-desc">

                        <div class="why-you-learn">

                            <ul>
                                <div>
                                    <li><span>
                                        <i class='bx bx-check'></i>
                                        Nombre de réseaux sociaux gérés 2 ou plus
                                    </span>
                                </li>
                                </div>
                                <div>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Nombre de publications / Semaine = 5
                                    </span>
                            </li></div>
                            <div>
                            <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Conceptions graphique des publications                                            </span>
                            </li></div>
                            <div>
                            <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Création et montage des vidéos
                                    </span>
                            </li></div>
                            <div>
                            <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Création des stories avec une charte graphique
                                    </span></li></div>

                                    <div>
                                    <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Modération et gestion des communautés
                                    </span>
    </li></div>
    <div>
    <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Gestion des publications et des briefs
                                    </span></li></div>
    <div>
                                    <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Gestion de Facebook ADS
                                    </span>
    </li></div>
    <div>
    <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Création de contenus textes personnalisés
                                    </span>
    </li></div>
    <div><li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Organisation des jeux concours/Quiz
                                    </span>
    </li></div>
    <div><li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        4 Plannings pour chaque mois
                                    </span>
    </li></div>
    <div><li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Reporting mensuel Meeting trimestriel

                                    </span>
    </li> </div>
    <div><li>
    <span>
    <i class='bx bx-check'></i>
    Sponsoring des publications et recrutement des fans 30 usd par mois

    </span>
    </li> </div>
    <div><li>
    <span>
    <i class='bx bx-check'></i>
    Boost de post (Sur devis)

    </span>
    </li> </div>
                            </ul>
                            </div>


                    </div>

                </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mix management design photography">
                <div class=" mb-30">

                    <div class="courses-content">
                        <h3>Référencement</h3>
                        <div class="course-author d-flex align-items-center">
                            <span>WEB</span>
                        </div>
                        <div class="packIcons">
                            <img src="../../../../assets/img/icons/world-wide-web (1).png" class="rotate
                            ">
                        </div>
                        <div class="courses-details-desc">

                        <div class="why-you-learn">

                            <ul>
                                <div>
                                    <li><span>
                                        <i class='bx bx-check'></i>
                                        2 Audit référencement
                                    </span>
                                </li>
                                </div>
                            
                                <div>
                                <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        10 Mots clés
                                    </span>
                                </li>
                            </div>
                            
                            <div>                              
                            <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Conception graphique des publications et montage des vidéos (matière fournie par le client)
                                    </span>
                            </li></div>
                            <div>
                            <li>
                                    <span>
                                        <i class='bx bx-check'></i>

    Analyse de marché et de la concurrence
                                    </span>
                            </li></div>
                            <div>
                            <li>
                                    <span>
                                        <i class='bx bx-check'></i>

    Inscription et géolocalisation sur Google Maps
                                    </span></li></div>

                                    <div>
                                    <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Création & Suivie Google Ads
                                    </span>
    </li></div>
    <div>
    <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Création & Suivie Google Searsh Console
                                    </span></li></div>
    <div>
                                    <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Gestion de Facebook ADS
                                    </span>
    </li></div>
    <div>
    <li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Création & Suivie Google Analytics
                                    </span>
    </li></div>
    <div><li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Création & Suivie compte TripAdvisor
                                    </span>
    </li></div>
    <div><li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        Liens de backlinks
                                    </span>
    </li></div>
    <div><li>
                                    <span>
                                        <i class='bx bx-check'></i>
                                        4 Rapport d’Audit sur le trafic web

                                    </span>
    </li> </div>
    <div><li>
    <span>
    <i class='bx bx-check'></i>
    4 Rapport d’Audit Référencement

    </span>
    </li> </div>
    <div><li>
    <span>
    <i class='bx bx-check'></i>
    Création d'un blog ou de contenu

    </span>
    </li> </div>
    </ul>
    </div>
    </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- <section class="gallery-area pt-100 pb-70" id="ourJob">
        <div class="container">
            <div class="col-lg-8">
                <div class="courses-title">
                    <h2>Notre travail</h2>
                </div>
            </div>
            <div class="row pt-70 pb-50">

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/gallery/gallery1.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery1.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/gallery/gallery2.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery2.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/gallery/gallery3.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery3.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/gallery/gallery4.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery4.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/gallery/gallery5.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery5.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/gallery/gallery6.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery6.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/gallery/gallery7.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery7.jpg">
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-gallery-item mb-30">
                        <img src="assets/img/gallery/gallery8.jpg" alt="Gallery Image" data-original="assets/img/gallery/gallery8.jpg">
                    </div>
                </div>

            </div>
        </div>
    </section> -->

    <section class="contact-area pb-100">
        <div class="container">
            <div class="section-title">
                    <span class="sub-title"><strong>Demande de devis</strong></span>
                    <h4 style="color: aliceblue;">Maintenant parlons de votre projet !</h4>

            </div>

            <div class="contact-form">
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input required type="text" name="nom" id="nom" class="form-control" placeholder="Nom*">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input required type="text" name="prenom" id="prenom" class="form-control" placeholder="Prénom*">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input required type="email" name="email" id="email" class="form-control" placeholder="Email*">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input required type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Téléphone*">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input required type="text" name="nomEntreprise" id="nomEntreprise" class="form-control" placeholder="Nom de l'entreprise">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <input required type="text" name="secteur" id="secteur" class="form-control" placeholder="Secteur">
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea required name="message" class="form-control" id="message" cols="30" rows="5" placeholder="Demande*"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <span class="default-btn"><i class='bx bx-paper-plane icon-arrow before'></i><button class="label" type="submit">Envoyer</button><i class="bx bx-paper-plane icon-arrow after"></i></span>
                                <span id="import" type="button" class="default-btn"><i style="margin-top: -6px;" class="icon-arrow before"><img src="../../../../assets/img/icons/after.png"></i><button class="label" type="reset">Annuler</button><i class="after"><img src="../../../../assets/img/icons/before.png" style="margin-top: -0px;"></i></span>
                            </div>
                        </div>
                    </form>
            </div>
        </div>

        <div id="particles-js-circle-bubble-3"></div>
        <div class="contact-bg-image"><img src="assets/img/map.png" alt="image"></div>


    </section>
</div>
<app-footer></app-footer>
